<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title>Ntalk - Agenda de Contatos</title>
	</head>
	
	<body>
		<footer>
			<small>Ntalk - Agenda de Contatos</small>
		</footer>
	</body>
</html>
